# macOS
.DS_Store

# Maven / builds
target/
!.mvn/wrapper/maven-wrapper.jar
build/
out/

# Logs
*.log

# IDEs
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.vscode/

# Otros temporales
*.swp
*.swo
